<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>Show Bull</title>
  <style>
    body {
      background-image: url("/static/imgs/double-bulls.jpeg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.60);
      background-blend-mode: overlay;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="color: white;" aria-current="page" href="/dashboard">Home</a>
          </li>
          <li class="nav-item">
          </li>
          {% if 'uid' in session %}
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="/bull/all">Add New</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
              Search by
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/bull/name">Name</a></li>
              <li><a class="dropdown-item" href="/bull/color">Color</a></li>
              <li><a class="dropdown-item" href="/bull/dob">DOB</a></li>
              <li><a class="dropdown-item" href="/bull/alls">Number</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% if 'uid' in session %}
        <a class="nav-link" style="color: white; padding: 5px; background-color: rgb(194, 79, 79); border-radius: 5px;" href="/logout">Logout</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <h2 class="text-center">Welcome {{session['fname']}}</h2>
  <div class="card" style="width: 35rem; margin: auto; text-align: center;">
    <img src="{{ url_for('static', filename='/imgs/double-bulls.jpeg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{bulls.name}}</h5>
      <p class="card-text">#{{bulls.number}} - {{bulls.date_born.strftime("%B %Y")}} - {{bulls.color}}
        <br>Mother: {{bulls.mother}}
        <br>Father: {{bulls.father}}
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cerca:{{bulls.location}}</li>
      <li class="list-group-item">Notes:{{bulls.notes}}</li>
    </ul>
    <div class="card-body">
      {% if session['uid'] == bulls.owner.id %}
      <a href="/bulls/edit/{{ bulls.id }}" class="card-link">Edit</a>
      <a href="/bulls/destroy/{{ bulls.id }}" class="card-link">Delete</a>
      {% endif %}
      <p>Last Updated: {{ bulls.updated_at.strftime("%b %d %Y")}}</p>
    </div>
  </div>
  <!-- <p>Posted By:{{bulls.owner.first_name}}</p> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
</body>

</html>